@{
    ViewBag.Title = "About";
}
<div class="about-bg">
    <div class="row">
        <div class="container">
            <div class="col-lg-10" id="name-header">
                <h2>Denis Cekic</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-4">
                <img src='@Url.Content("~/Content/Images/dcekpic.jpg")' />
            </div>

            <div class="col-lg-6">
                <div id="aboutText">
                    <dl id="aboutMeSection">
                        <dt>About me</dt>
                        <dd>
                            I'm a programmer based in Astoria, New York. I specialize in full stack development primarily using the Microsoft .Net stack.
                        </dd>
                        <dt>Main focus</dt>
                        <dd>
                            I primarily focus on working with Microsoft .Net as a full stack developer. I enjoy working on projects and creating prototype applications using best practices and the latest tools available.

                        </dd>
                        <dt>Favorite Programming Language</dt>
                        <dd>
                            I really love working with visual studio and with .Net Framework. C# is by far my favorite language to write code with, coupled with the best IDE Visual Studio, nothing comes close to making development so much easier.
                        </dd>
                        <dt>Fifa App Prototype</dt>
                        <dd>
                            The reason why I decided to create a fifa prototype using ASP.NET MVC 5 is because I want to showcase my ability to develop web application from the front to back end. This also helps me keep up with ever evolving technology while improving my skills. I hope you enjoy the application, maybe one day EA sport will find this and sponsor me! :)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="about-bg">
            <div id="rightcol">
                <div class="clearfix"></div>



       


              
            </div>
        </div>
    </div>
</div>