@{
    ViewBag.Title = "Contact";
}

<div class="contact-container">
    <h2>@ViewBag.Title.</h2>
    <address>
        <strong>Email:</strong> <a href="mailto:denis.cekic786@gmail.com">denis.cekic786@gmail.com</a><br/>
    </address>
</div>


