@model FifaFanApp.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
        <h2>Forgot Your Password?</h2>
        <p class="intro">Please enter your email address, and we will send instructions on how to change your password.</p>
        <div id="error" class="notice errorMsg">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
          <section>
            <label for="Email">Email Address:</label>
            @Html.TextBoxFor(m => m.Email, new { id = "Email", @class = "fpinput", autocomplete = "off" })
        </section>
        <section class="submitbox">
            <input type="submit" value="Next" class="button">
        </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
