@{
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";
}

<h2>Email Sent</h2>
<p class="intro">Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
